#---
#apiVersion: v1
#kind: PersistentVolume
#metadata:
#  name: grafana-pv
#  namespace: monitoring
#  labels:
#    pv: grafana-pv
#spec:
#  capacity:
#    storage: 10Gi
#  accessModes:
#    - ReadWriteMany
#  persistentVolumeReclaimPolicy: Delete
#  nfs:
#    path: /mydata/d4
#    server: 10.240.73.5
        
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: grafana-pv
